<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLSinhVien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QLSinhVien.Properties.Settings>
            <setting name="Connection" serializeAs="String">
                <value>Data Source = .\MSSQL; Initial Catalog = SinhVienDB; User ID=SinhVienDB; Password = SinhVienDB@123;</value>
            </setting>
        </QLSinhVien.Properties.Settings>
    </userSettings>
</configuration>